/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');
*{
    font-family: 'poppins', sans-serif;
    margin: 0 ;
    padding: 0 ;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem ;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100% ;
}
section{
    padding: 3rem 0  2rem;
}

.container{
    max-width: 1068px; 
    margin: auto;
    width: 100%;
}

:root{
  --container-color: #1a1e21;
  --second-color: #fd8f44;
  --text-color: #172317;
  --bg-color: #fff;
}

header{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  background-color: var(--container-color);
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0;
}

.nav li {
  margin: 0 15px; 
  color: #fff;
  list-style: none;
}

.nav li a {
  color: white;
  padding: 10px 15px; 
  transition: color 0.3s; 
}

.nav li a:hover {
  color: var(--second-color); 
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-container input {
  padding: 8px 14px;
  padding-right: 35px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-container i {
  position: absolute;
  right: 10px; 
  color: #2b2b2b;
  font-size: 18px;
  cursor: pointer;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--bg-color);
}

a{
  text-decoration: none;
}

.logo{
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--bg-color);
}

.logo span{
  color: var(--second-color);
}

.login {
  padding: 8px 14px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  background: var(--bg-color);
  color: var(--second-color);
}

.login:hover {
  background: hsl(24, 98%, 58%);
  transition: 0.3s;
}

.login-btn {
  background-color: var(--second-color);
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: hsl(24, 98%, 58%);
}

/* carousel */
.carousel{
  height: 100vh;
  margin-top: 10px;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.carousel .list .item{
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.carousel .list .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel .list .item .content{
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 70%;
}

.carousel .list .item .title,
.carousel .list .item .topic{
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}
.carousel .list .item .title {
  font-size: 4em;
  font-weight: bold;
  line-height: 1.1em;
  margin-bottom: 0.2em;
}
.carousel .list .item .topic{
  color: #f1683a;
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}
.carousel .list .item .des {
  font-size: 1.1em;
  margin-bottom: 1em;
}
.carousel .list .item .buttons{
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 1em;
}
.carousel .list .item .buttons button{
  border: none;
  background-color: #eee;
  letter-spacing: 3px;
  font-family: Poppins;
  font-weight: 500;
}
.carousel .list .item .buttons button:nth-child(2){
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}
/* thumbail */
.thumbnail{
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbnail .item{
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .content{
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.thumbnail .item .content .title{
  font-weight: 500;
}
.thumbnail .item .content .description{
  font-weight: 300;
}
/* arrows */
.arrows{
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.arrows button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.267);
  border: none;
  color: #ffffff;
  font-family: monospace;
  font-weight: bold;
  transition: .2s;
}
.arrows button:hover{
  background-color: #000000;
  color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
  z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
  to{
      transform: translateY(0px);
      filter: blur(0px);
      opacity: 1;
  }
}
.carousel .list .item:nth-child(1) .content .title{
  animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
  animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
  animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
  animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
  to{
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1){
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
  z-index: 100;
}
@keyframes showThumbnail{
  from{
      width: 0;
      opacity: 0;
  }
}
.carousel.next .thumbnail{
  animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
  from{
      transform: translateX(150px);
  }
}

/* running time */

.carousel .time{
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: #f1683a;
  left: 0;
  top: 0;
}

.carousel.next .time,
.carousel.prev .time{
  animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
  from{ width: 100%}
  to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame{
  to{
      width: 150px;
      height: 220px;
      bottom: 50px;
      left: 50%;
      border-radius: 20px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1){
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail .2s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
  pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
  animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
  to{
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .carousel .list .item .content{
      padding-right: 0;
  }
  .carousel .list .item .content .title{
      font-size: 30px;
  }
}

.post-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
}
  
.filter-item {
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.active-filter {
    background: var(--second-color);
    color: var(--bg-color);
    border-radius: 4px;
    padding: 8px 14px;
    transition: 0.3s;
}

/* post */
.post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
}

.post-box{
    background: var(--bg-color);
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
    position: relative;
}

.post-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.category {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
}

.post-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-date{
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 4px;
}

.post-description{
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.learn-more {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background: var(--second-color);
    color: var(--bg-color);
    border-radius: 4px;
    transition: background 0.3s ease;
}

.learn-more:hover {
    background: hsl(24, 98%, 58%);
}

.see-more-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--second-color);
  color: var(--bg-color);
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 500;
  letter-spacing: 2px;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
  border-radius: 5px;
}

.see-more-btn:hover {
  background-color: hsl(24, 98%, 58%);
}

@media screen and (max-width: 768px) {
  .carousel .list .item .content {
    padding-right: 10%;
    height: 80%;
  }

  .carousel .list .item .title {
    font-size: 3em;
  }

  .carousel .list .item .topic {
    font-size: 2em;
  }

  .carousel .list .item .des {
    font-size: 1em;
  }

  .carousel .list .item .buttons {
    margin-top: 0.8em;
  }

  .see-more-btn {
    padding: 8px 16px;
    font-size: 0.8rem;
  }
}

/* Footer */
.footer {
  background-color: var(--container-color);
  color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  margin-top: auto; /* Mengubah dari margin-top: 1.5rem; */
}

.footer-container {
  width: 100%;
  max-width: 1068px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.social .bx {
  font-size: 1.2rem;
  color: var(--bg-color);
}

.social .bx:hover {
  color: var(--second-color);
  transition: 0.3s all linear;
}

/* Tambahkan atau ubah properti berikut pada selector body */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

/* Tambahkan properti berikut pada selector yang mengandung konten utama */
.main-content {
  flex: 1;
}